<nav class="container-fluid bg-dark nav-bottom">

    {% for casino in menu.casinos %}
        <a href="/casino/{{ casino.name }}">{{ casino.name | capitalize }}  Casino</a>
    {% endfor %}


    <a href="/rating/123">Лучшие казино по вывода средств</a>

</nav>
