<nav class="container-fluid bg-dark nav-bottom">

    {% for casino in menu.casinos %}
        <a href="/casino/{{ casino.name }}">{{ casino.name | capitalize }}  Casino</a>
    {% endfor %}


    <a href="/rating/rating_online_casino_ukraine.php">рейтинг онлайн казино Украины</a>
    <a href="/rating/casino_na_grivny.php">казино на гривны</a>

</nav>
