{% extends '@EasyAdmin/page/content.html.twig' %}
    {% block page_title 'Casinos dashboard' %}
    {% block page_content %}
        <p style="padding-top: 1em;">
            <ul style="list-style: none;">
                <li>
                    Here you can add / edit Casinos amd pages.
                </li>
            </ul>
        </p>
        <p>
        <ul style="list-style: none;">
            <li>
                Setup Ratings also could be done from here
            </li>
        </ul>
        </p>
        <p>
        <ul style="list-style: none;">
            <li>
                Also News management / Posts
            </li>
        </ul>
        </p>
    {% endblock %}
