{% extends '@EasyAdmin/page/content.html.twig' %}
    {% block page_title 'Casinos dashboard' %}
    {% block page_content %}
        Here you can add / edit Casinos or pages

        <div style="padding-top: 60px">
            <h4>ИНСТРУКЦИЯ</h4>

            <p>
                Для того, чтоб добавить казино - сначала добавь страницу для него
                Заполни все параметры, затем - перейди в секцию Casino
            </p>
            <p>
                В секции Casino - выбера - Добавить новое.
                Заполни все ппараметры, и привяжи к нему ранее созданную страницу для Казино
            </p>
        </div>


    {% endblock %}
